**/bin/
**/obj/
**/node_modules/
**/.vs/
**/.vscode/
**/*.user
.git/
.github/
.gitignore
.gitattributes
.dockerignore
README.md
LICENSE
docker-compose.yml
render.yaml
renovate.json
src/MidgardAddressBook.Web/wwwroot/css/bootstrap.min.css
src/MidgardAddressBook.Web/wwwroot/css/bootstrap.min.css.map
src/MidgardAddressBook.Web/wwwroot/js/bootstrap.bundle.min.js
src/MidgardAddressBook.Web/wwwroot/js/bootstrap.bundle.min.js.map
