@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex align-items-center full-height justify-content-center">
  <div class="text-center">
    <a asp-controller="AddressBookEntries" asp-action="Index">
        <div class="card">
            <div class="card-body">
                <object class="card" height="100%" width="100%" type="image/svg+xml" data="~/Images/MidgardLogo.svg"></object>
        <a class="btn stretched-link" asp-controller="AddressBookEntries" asp-action="Index"></a>
</div>

</div>
    </a>
  </div>
</div>
